<div class="container-fluid" *ngIf="logCondition">
  <div class="row">
    <div class="col-12 text-center loadinglog">
      <img src="../../assets/img/Rolling-1s-108px.gif" alt="">
    </div>
  </div>
</div>
<div class="container" *ngIf="!statusCreate">
  <form #formLogin="ngForm" (submit)="TakeActionInsertData(formLogin)">
    <div class="row justify-content-center" style="margin-top:70px">
      <div class="col-lg-6 sticky-note">
        <div class="sticky-head text-center">Data Pengelola Toko</div>
        <div class="sticky-body">
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" #email="ngModel" [(ngModel)]="centerHomein.email" name="email" placeholder="Jhon_Smoe@example.com" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="centerHomein.password"
              placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top:70px">
      <div class="col-lg-6 sticky-note">
        <div class="sticky-head text-center">Data Lokasi Toko</div>
        <div class="sticky-body">
          <div class="form-group">
            <label for="">Latitude</label>
            <input type="number" class="form-control" #latitude="ngModel" [(ngModel)]="centerHomein.latitude" name="latitude" placeholder="-7.976502"
            required>
          </div>
          <div class="form-group">
            <label for="">Longtitude</label>
            <input type="number" class="form-control" name="longtitude" #longtitude="ngModel" [(ngModel)]="centerHomein.longtitude"
              placeholder="112.628752" required>
          </div>
          <div class="form-group">
            <label for="">Url Share Google Maps</label>
            <input type="url" class="form-control" name="urlMaps" #urlMaps="ngModel" [(ngModel)]="centerHomein.urlMaps"
              placeholder="https://yourmaps" required>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 70px">
        <div class="col-lg-6 sticky-note">
          <div class="sticky-head text-center">Data Toko</div>
          <div class="sticky-body">
              <div class="form-group">
                  <label for="">Nama Toko / Service Center</label>
                  <input type="text" class="form-control" name="serviceName" #serviceName="ngModel" [ngModel]="centerHomein.serviceName" placeholder="ex: Asus Center" required>
                </div>
                <div class="form-group">
                  <label for="">Buka pukul</label>
                  <input type="text" class="form-control" name="jambuka" #jambuka="ngModel" [ngModel]="centerHomein.jambuka" placeholder="ex: 9:30AM - 5PM">
                </div>
                <div class="form-group">
                  <label for="">Deskripsi Singkat</label>
                  <input type="text" class="form-control" placeholder="penjelasan pendek" name="deskripsi" #deskripsi="ngModel" [ngModel]="centerHomein.deskripsi">
                </div>
                <div class="form-group">
                  <label for="">Nomer Telfon / FAX</label>
                  <input type="number" class="form-control" placeholder="+62 xxxxx" name="number" #number="ngModel" [ngModel]="centerHomein.number">
                </div>
                <input type="hidden" name="like" #like="ngModel" [ngModel]="centerHomein.like">
                <div class="form-group">
                  <label for="">Alamat Pasti</label>
                  <textarea class="form-control" rows="8" name="address" #address="ngModel" [ngModel]="centerHomein.address"></textarea>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" (change)="OnchangeEvent($event)">
                    Saya setuju dengan semua persetujuan dan ketentuan yang ada
                  </label>
                </div>
                <div class="my-3"></div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="!tryhere">Buat Sekarang</button>
                  <div class="row">
                    <div class="col-6 text-lef">
                      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="t">Back to Home</a>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>

  </form>
</div>

<div class="container" *ngIf="statusCreate">
  <div class="row justify-content-center">
    <div class="col-lg-6 sticky-note">
      <div class="sticky-body text-center">
        <h1 class="display-4" style="color:green">Data Telah Terproses</h1>
        <div class="my-4"></div>
        <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/loginAdmin']" routerLinkActive="router-link-active">
          Langkah Selanjutnya </button>
      </div>
    </div>

  </div>
</div>

<div class="container" *ngIf="statusCreateFalse">
  <div class="row justify-content-center">
    <div class="col-lg-6 sticky-note">
      <div class="sticky-body text-center">
        <h1 class="display-4" style="color:red">Data Gagal Diproses</h1>
        <div class="my-4"></div>
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="BtnTryAgain()"> Coba Lagi </button>
      </div>
    </div>

  </div>
</div>