<div class="container-fluid someback"></div>
<div class="container-fluid someside"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-8 sticky-note">
      <div class="sticky-head text-center">Panduan Awal</div>
      <div class="sticky-body">
        <h3>Term One here</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque eum iste voluptate corporis magnam commodi
          libero eveniet non voluptatem ullam, quae laudantium obcaecati deleniti repellat, perspiciatis debitis ab praesentium!</p>
        <h3>Term One here</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque eum iste voluptate corporis magnam commodi
          libero eveniet non voluptatem ullam, quae laudantium obcaecati deleniti repellat, perspiciatis debitis ab praesentium!</p>
        <h3>Term One here</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque eum iste voluptate corporis magnam commodi
          libero eveniet non voluptatem ullam, quae laudantium obcaecati deleniti repellat, perspiciatis debitis ab praesentium!</p>
        <h3>Term One here</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque eum iste voluptate corporis magnam commodi
          libero eveniet non voluptatem ullam, quae laudantium obcaecati deleniti repellat, perspiciatis debitis ab praesentium!</p>
        <button type="button" class="btn btn-danger" [routerLink]="['/']" routerLinkActive="router-link-active" >Kembali ke Awal</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/CreateAdmin']" routerLinkActive="router-link-active" >Iya , Saya mengerti</button>
      </div>
    </div>
  </div>
</div>