<div class="jumbotron jumbotron-fluid backimg">
  <div class="fronthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-8">
          <h1 class="display-3">
            <i class="fa fa-gears" aria-hidden="true"></i> Service Your Laptop</h1>
          <h4> Your Laptop in trouble?
            <br> Don't be panic. Find the reson and fix it</h4>
          <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit esse nulla dignissimos a labore. Dolorem similique
            expedita et rem, corporis temporibus. Nesciunt veritatis voluptate enim nobis quibusdam provident minima ea.</p>
          <div class="my-2"></div>
          <p class="lead">
            <button class="btn btn-new btn-lg" role="button">
              <i class="fa fa-wrench" aria-hidden="true"></i> Take The Resolve</button>
            <button class="btn btn-success btn-lg" role="button">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Find Center</button>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container contentProv">
  <div class="row">
    <div class="col-12">
      <h1>Headning Here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magni, voluptatum labore nisi atque ullam ad quis
        temporibus ipsam voluptas officia optio nobis enim soluta ducimus. Nihil cupiditate reiciendis provident!</p>
    </div>
  </div>
  <div class="my-4"></div>
  <div class="row">
    <div class="col-xl-4">
      <h1>Headning Here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magni, voluptatum labore nisi atque ullam ad quis
        temporibus ipsam voluptas officia optio nobis enim soluta ducimus. Nihil cupiditate reiciendis provident!</p>
    </div>
    <div class="col-xl-4">
      <h1>Headning Here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magni, voluptatum labore nisi atque ullam ad quis
        temporibus ipsam voluptas officia optio nobis enim soluta ducimus. Nihil cupiditate reiciendis provident!</p>
    </div>
    <div class="col-xl-4">
      <h1>Headning Here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magni, voluptatum labore nisi atque ullam ad quis
        temporibus ipsam voluptas officia optio nobis enim soluta ducimus. Nihil cupiditate reiciendis provident!</p>
    </div>
  </div>
</div>

<div class="contBlue">
  <div class="container contentProv">
    <div class="row">
      <div class="col-12">
        <h1>headimg new</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum voluptatum nostrum corporis accusantium corrupti
          tempora vel, illum, dolorum perferendis ducimus voluptatibus totam nobis, placeat at recusandae? Incidunt, in commodi?</p>
      </div>
    </div>
  </div>
</div>

<div class="contGreen">
  <div class="container contentProv text-right">
    <div class="row">
      <div class="col-12">
        <h1>headimg new</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum voluptatum nostrum corporis accusantium corrupti
          tempora vel, illum, dolorum perferendis ducimus voluptatibus totam nobis, placeat at recusandae? Incidunt, in commodi?</p>
      </div>
    </div>
  </div>
</div>

<div class="container contentProv">
  <div class="row">
    <div class="col-12">
      <h1>headimg new</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum voluptatum nostrum corporis accusantium corrupti
        tempora vel, illum, dolorum perferendis ducimus voluptatibus totam nobis, placeat at recusandae? Incidunt, in commodi?</p>
    </div>
  </div>
</div>