<div class="jumbotron jumbotron-fluid backimg">
  <div class="container-fluid">
    <div class="row navup justify-content-end">
      <div class="col-xs-12 innavup">
        <i class="fa fa-windows" aria-hidden="true"></i>
        <h1>Login</h1>
      </div>
    </div>
  </div>
  <div class="fronthead text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <h1 class="display-2">Service Your Laptop</h1>
          <div class="my-4"></div>
          <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ex dolor maxime possimus suscipit accusamus, .</h3>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <i class="fa fa-building-o" aria-hidden="true"></i>
        </div>
        <div class="col-xl-12">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-5"></div>

<div class="container" style="color:white">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-xl-8 headbox">
      <div class="holdplacevideo text-center">
        <i class="fa fa-play" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-xl-4">
      <!-- navbars 1 -->
      <div class="row">
        <div class="col-xl-4 navigate1 text-center">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div class="col-xl-8 navcont">
          <h4>Laptop Solutions</h4>
          <p>See what the perfect solutions of your laptop problems</p>
        </div>
      </div>
      <!-- navbars 1 -->
      <div class="row">
        <div class="col-xl-4 navigate2 text-center">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="col-xl-8 navcont">
          <h4>Service Centers</h4>
          <p>Find the best Service center in your City</p>
        </div>
      </div>
      <!-- navbars 1 -->
      <div class="row">
        <div class="col-xl-4 navigate3 text-center">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="col-xl-8 navcont">
          <h4>Common Problem</h4>
          <p>Laptop problems that often occur among the public users</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container contentProv text-center">
  <div class="row">
    <div class="col-12">
      <h1>Headning Here</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magni, voluptatum labore nisi atque ullam ad quis
        temporibus ipsam voluptas officia optio nobis enim soluta ducimus. Nihil cupiditate reiciendis provident!</p>
    </div>
  </div>
</div>

<div class="contBlue">
  <div class="container contentProv">
    <div class="row justify-content-center">
      <div class="col-md-2 col-xl-2 text-center">
        <img src="../../assets/img/help.png" alt="" class="img-fluid">
      </div>
      <div class="col-md-1 col-xl-1">

      </div>
      <div class="col-md-8 col-xl-8">
        <h1>headimg new</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum voluptatum nostrum corporis accusantium corrupti
          tempora vel, illum, dolorum perferendis ducimus voluptatibus totam nobis, placeat at recusandae? Incidunt, in commodi?</p>
      </div>
    </div>
  </div>
</div>

<div class="contGreen">
  <div class="container contentProv text-right">
    <div class="row justify-content-center">
      <div class="col-md-8 col-xl-8">
        <h1>headimg new</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum voluptatum nostrum corporis accusantium corrupti
          tempora vel, illum, dolorum perferendis ducimus voluptatibus totam nobis, placeat at recusandae? Incidunt, in commodi?</p>
      </div>
      <div class="col-md-1 col-xl-1">

      </div>
      <div class="col-md-2 col-xl-2 text-center">
        <img src="../../assets/img/tools.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container contentProv">
  <div class="row justify-content-center">
    <div class="col-md-2 col-xl-2 text-center">
      <img src="../../assets/img/map.png" alt="" class="img-fluid">
    </div>
    <div class="col-md-1 col-xl-1">

    </div>
    <div class="col-md-8 col-xl-8">
      <h1>headimg new</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eum voluptatum nostrum corporis accusantium corrupti
        tempora vel, illum, dolorum perferendis ducimus voluptatibus totam nobis, placeat at recusandae? Incidunt, in commodi?</p>
    </div>
  </div>
</div>