.login{
    margin-top: 70px;
}
.btn-google{
    background-color: rgb(247, 247, 247);box-shadow: 2px 3px 8px rgba(179, 179, 179, 0.514);
    &:hover{
        background-color: rgb(233, 233, 233);box-shadow: 2px 3px 15px rgba(179, 179, 179, 0.514);
    }
}