<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="g-card">
        <h1 class="display-4">Welcome {{userEmail}}
        </h1>
        <p class="lead">Let's Manage Your Service Center to be the first one</p>
        <p class="smallin">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto in eaque aliquam obcaecati ipsum fugit laboriosam
          facere id incidunt eligendi est illo possimus, sunt dolorem quis mollitia officiis magnam quos!</p>
        <p class="smallin">Your Project ID: {{ (singlePost | async)?.email }}</p>
      </div>
    </div>
    <div class="col-lg-12">
      <form class="form" #formUpdate="ngForm" (submit)="UpdateDataCenter(formUpdate)">
      <div class="g-card">
          <h5>Detail Center</h5>
          <p class="text-right smallin">Silahkan isi sesuai dengan ketentuan</p>
          <div class="my-3"></div>
          <!-- midle of end -->
          <div class="row">
            <div class="col-lg-5">
              <p class="small40">Center Name
                <br>
                <span class="small40li">Sesuaikan nama center anda dengan benar</span>
              </p>
            </div>
            <div class="col-lg-7">
              <div class="form-group">
                <input id="first" class="form-input" type="text" name="serviceName" [ngModel]="(singlePost | async)?.serviceName"/>
              </div>
            </div>
          </div>
          <hr class="my-5">
          <!-- midle of end -->
          <div class="row">
            <div class="col-lg-5">
              <p class="small40">Deskripsi
                <br>
                <span class="small40li">Sesuaikan nama center anda dengan benar</span>
              </p>
            </div>
            <div class="col-lg-7">
              <div class="form-group">
                <input id="first" class="form-input" type="text" name="deskripsi" [ngModel]="(singlePost | async)?.deskripsi" />
              </div>
            </div>
          </div>
          <hr class="my-5">
          <!-- midle of end -->
          <div class="row">
            <div class="col-lg-5">
              <p class="small40">Location
                <br>
                <span class="small40li">Sesuaikan nama center anda dengan benar</span>
              </p>
            </div>
            <div class="col-lg-7">
              <div class="form-group">
                <input id="first" class="form-input" type="text" name="address" [ngModel]="(singlePost | async)?.address" />
              </div>
            </div>
          </div>

          <hr class="my-5">
          <!-- midle of end -->
          <div class="row">
            <div class="col-lg-5">
              <p class="small40">Buka Pukul
                <br>
                <span class="small40li">Sesuaikan nama center anda dengan benar</span>
              </p>
            </div>
            <div class="col-lg-7">
              <div class="form-group">
                <input class="form-input" type="text" name="jambuka" [ngModel]="(singlePost | async)?.jambuka" />
              </div>
            </div>
          </div>

          <hr class="my-5">
          <!-- midle of end -->
          <div class="row">
            <div class="col-lg-5">
              <p class="small40">Phone Number / FAX
                <br>
                <span class="small40li">Sesuaikan nama center anda dengan benar</span>
              </p>
            </div>
            <div class="col-lg-7">
              <div class="form-group">
                <input id="first" class="form-input" type="number" name="number" [ngModel]="(singlePost | async)?.numphone" />
              </div>
            </div>
          </div>

          <hr class="my-5">
          <!-- midle of end -->
          <div class="row">
            <div class="col-lg-5">
              <p class="small40">Center Image
                <br>
                <span class="small40li">Sesuaikan nama center anda dengan benar</span>
              </p>
            </div>
            <div class="col-lg-7">
              <div class="form-group">
                <label id="#bb" class="form-label"> Enter Your File
                  <input type="file" (change)="selectedFile($event)">
                </label>
              </div>
              <div class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
              aria-valuemin="0" aria-valuemax="100"
              [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</div>
            </div>
          </div>


      </div>

      <!-- makelokaion -->
      <div class="g-card">
        <h5>Detail Lokasi</h5>
        <p class="text-right smallin">Silahkan isi sesuai dengan ketentuan</p>
        <div class="my-3"></div>
        <!-- midle of end -->
        <div class="row">
          <div class="col-lg-5">
            <p class="small40">Latitude
              <br>
              <span class="small40li">Sesuaikan nama center anda dengan benar</span>
            </p>
          </div>
          <div class="col-lg-7">
            <div class="form-group">
              <input id="first" class="form-input" type="text" name="latitude" [ngModel]="(singlePost | async)?.latitude"/>
            </div>
          </div>
        </div>
        <hr class="my-5">
        <!-- midle of end -->
        <div class="row">
          <div class="col-lg-5">
            <p class="small40">Longtitude
              <br>
              <span class="small40li">Sesuaikan nama center anda dengan benar</span>
            </p>
          </div>
          <div class="col-lg-7">
            <div class="form-group">
              <input id="first" class="form-input" type="text" name="longtitude" [ngModel]="(singlePost | async)?.longtitude" />
            </div>
          </div>
        </div>
        <hr class="my-5">
        <!-- midle of end -->
        <div class="row">
          <div class="col-lg-5">
            <p class="small40">Shared Link Maps
              <br>
              <span class="small40li">Sesuaikan nama center anda dengan benar</span>
            </p>
          </div>
          <div class="col-lg-7">
            <div class="form-group">
              <input class="form-input" type="text" name="urlMaps" [ngModel]="(singlePost | async)?.urlMaps" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="my-5"></div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </div>


    </div>
    </form>
    </div>

  </div>
</div>