/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://npmcdn.com/angular-toastr/dist/angular-toastr.css');

$primary: #265961;
$second: #227066;
$third: #76A665;
$fourth:#FFDD5C;



.btn{
    border-radius: 0 !important;
}
.btn-primary{
	background-color: $second;border-color: $second;
	&:hover{
		background-color: darken($color: $second, $amount: 10);
	}
}

.form-control{
	border-radius: 0 !important;
}
.background-primary{
	background-color: $primary;
}
.background-second{
	background-color: $second;
}